:root {
    --card-width: calc(1000/6 * 1px);
    --card-height: calc(var(--card-width) * 1.5);
}

body {
    text-align: center;
    background-color: #f0f0f0;
    color: rgb(17,17,17);
}

/* rem is root EM, size is relative to <html> , and not to immediate parent EM */
h1 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
    font-weight: bold;
}

.card-table {
    justify-content: center;

    display: grid;
    grid-template-columns: repeat(6, var(--card-width));
    grid-template-rows: repeat(2, var(--card-height));
    grid-gap: 1rem;
}